main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: justify ;
}

.gameBoard{
    width: 100%;
}

.title{
    font-size: 20px;
    color: grey;
}

.bigTitle{
    font-size: 40px;
    color:brown;
    text-transform: uppercase;
}
.description{
    font-size: 20px;
    color: grey;
}
.description2{
    font-size: 20px;
    color: black; 
}

.gameImage  {
    height: 500px;  
}

.formDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.form {
    width: 100%;
}

.options{
    font-size: 14px;
    border: solid rgb(165, 42, 42,0.21);
    height:47px;
    width: 100%;
}
.btn{
    background-color: brown;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    color: white;
}
.result{
    border-radius: 5px;
    border: solid rgb(165, 42, 42,0.21);
    color: white;
    font-weight: 800;
    background-color: rgb(156, 112, 96, 0.5);
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}