main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 20px;
    color: grey;
}

.bigTitle{
    font-size: 40px;
    color:brown;
    text-transform: uppercase;
}
.description{
    font-size: 20px;
    color: grey;
}
.description2{
    font-size: 20px;
    color: black; 
}
.options{
    font-size: 14px;
    border: solid rgb(165, 42, 42,0.21);
    height:47px;
}
.btn{
    background-color: brown;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    color: white;
}
.result{
    border-radius: 5px;
    border: solid rgb(165, 42, 42,0.21);
    color: white;
    background-color: rgb(165, 42, 42,0.21);
    width: 500px;
    height: 20px;
    text-align: center;

}

.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}